---
layout: :theme/post
---

{@io.quarkiverse.roq.frontmatter.runtime.model.DocumentPage page}

{#insert /}

{#article-end}
<div class="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="dmlloyd/dmlloyd.github.io"
        data-repo-id="R_kgDONOW-WQ"
        data-category="Posts"
        data-category-id="DIC_kwDONOW-Wc4CkNfQ"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{/}
