:root {
  --font-heading: "DejaVu Sans", ui-sans-serif, system-ui, sans-serif;
  --font-body: "DejaVu Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "DejaVu Sans Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.giscus {
  padding: 10px;
}
